/* Barebones Compass layout styles
 *
 * Footer styles
 */

.layout-footer {
    background-color: #f0f2f5;
}

$layout-footer-sticky: 0 !default;

@if $layout-footer-sticky != false and $layout-footer-sticky > 0 {
    html,
    body {
        min-height: 100%;
    }

    .layout-content {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$layout-footer-sticky;
    }

    .layout-content:after {
        content: "";
        display: block;
        height: $layout-footer-sticky;
    }

    .layout-footer {
        clear: both;
        position: relative;
        height: $layout-footer-sticky;
    }
}
