// Footer styles
$layout-footer-background: #f0f2f5 !default;
$layout-footer-height: 50px !default;
$layout-footer-sticky: false !default;

.layout-footer {
    background-color: $layout-footer-background;
}

// Sticky footer
// TODO: move this around to different files?
@if $layout-footer-sticky {
    html,
    body {
        height: 100%;
    }

    .layout-content {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$layout-footer-height;
    }

    .layout-content:after {
        content: "";
        display: block;
        height: $layout-footer-height;
    }

    .layout-footer {
        clear: both;
        position: relative;
        height: $layout-footer-height;
    }
}
