# Convert line endings to lf by default
*           text=auto eol=lf

# Image formats
*.png       binary
*.jpg       binary
*.jpeg      binary
*.gif       binary
*.ico       binary
*.svg       text

# Audio formats
.mp3        binary

# Video formats
*.mov       binary
*.mp4       binary

# Font formats
*.woff      binary
*.ttf       binary
*.otf       binary
*.eot       binary

# Text formats
*.php       text diff=php
*.inc       text diff=php
*.html      text diff=html
*.htm       text diff=html
*.css       text
*.js        text
*.json      text
*.txt       text
*.xml       text
*.rb        text diff=ruby
*.ini       text

# Other formats
*.flv       binary
*.fla       binary
*.swf       binary

# Special files
.htaccess   text
