<div class="layout-footer">
    <div class="date-owner">
        <span class="date">2015 &copy;</span><span class="owner">X-Kassa</span>
    </div>
    <div class="bottom-nav">
        <ul>
            <li><a href="">Support</a></li>
            <li><a href="">For Developers</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Terms and conditions</a></li>
            <li><a href="">Feedbacks</a></li>
        </ul>
    </div>
    <div class="popel-cont">
        <span>Site development - </span>
        <div class="svg-cont"></div>
    </div>
</div>
