$layout-content-margin-top: 20px !default;
$layout-content-margin-bottom: 20px !default;
$layout-content-margin-left: 0 !default;
$layout-content-margin-right: 0 !default;
$layout-content-margin: $layout-content-margin-top $layout-content-margin-right $layout-content-margin-bottom $layout-content-margin-left !default;

.main-content {
    margin: $layout-content-margin;
}
