/*
 * Element
 *
 * Element-specific styles
 */
$element-color: $base-color !default;
$element-font-family: $base-font-family !default;
$element-font-size: $base-font-size !default;
$element-font-style: normal !default;
$element-font-weight: normal !default;
$element-line-height: $base-line-height !default;

$element-margin: $base-margin !default;

// SELECTION
$element-selection-color: #fff !default;
$element-selection-background: #177ee6 !default;

@include selection ($color: $element-selection-color, $background: $element-selection-background);

// BODY
// Use base vars directly to utilize redefinition mixin in child elements
body {
    color: $base-color;
    font-family: $base-font-family;
    font-size: $base-font-size;

    @if $base-font-style != normal {
        font-style: $base-font-style;
    }

    @if $base-font-weight != normal and $base-font-weight != 400 {
        font-weight: $base-font-weight;
    }

    line-height: $base-line-height;

    background-color: $base-background-color;
}

// P
$element-p-color: $element-color !default;
$element-p-font-family: $element-font-family !default;
$element-p-font-size: $element-font-size !default;
$element-p-font-style: $element-font-style !default;
$element-p-font-weight: $element-font-weight !default;
$element-p-line-height: $element-line-height !default;

$element-p-margin-top: $element-margin !default;
$element-p-margin-right: 0 !default;
$element-p-margin-bottom: $element-p-margin-top !default;
$element-p-margin-left: $element-p-margin-right !default;

p {
    @include base-diff ($element-p-color, $element-p-font-family, $element-p-font-size, $element-p-font-style, $element-p-font-weight, $element-p-line-height);
    @include layout-margin ($element-p-margin-top, $element-p-margin-right, $element-p-margin-bottom, $element-p-margin-left);
}

// FIGURE and FIGCAPTION
$element-figure-color: #888 !default;
$element-figure-font-family: $font-serif !default;
$element-figure-font-size: $element-font-size !default;
$element-figure-font-style: italic !default;
$element-figure-font-weight: normal !default;
$element-figure-line-height: $element-line-height !default;

$element-figure-margin-top: $element-margin * 1.5 !default;
$element-figure-margin-right: 0 !default;
$element-figure-margin-bottom: $element-figure-margin-top !default;
$element-figure-margin-left: $element-figure-margin-right !default;

$element-figcaption-margin-top: $element-margin / 2 !default;
$element-figcaption-margin-right: 0 !default;
$element-figcaption-margin-bottom: $element-figcaption-margin-top !default;
$element-figcaption-margin-left: $element-figcaption-margin-right !default;

figure {
    @include base-diff ($element-figure-color, $element-figure-font-family, $element-figure-font-size, $element-figure-font-style, $element-figure-font-weight, $element-figure-line-height);
    text-align: center;

    @include layout-margin ($element-figure-margin-top, $element-figure-margin-right, $element-figure-margin-bottom, $element-figure-margin-left);

    img {
        margin: 0 auto;

        display: block;
        max-width: 100%;
    }

    figcaption {
        @include layout-margin ($element-figcaption-margin-top, $element-figcaption-margin-right, $element-figcaption-margin-bottom, $element-figcaption-margin-left);

        display: block;
    }
}

// HR
$element-hr-color: #ccc !default;

$element-hr-margin-top: $element-margin !default;
$element-hr-margin-right: 0 !default;
$element-hr-margin-bottom: $element-hr-margin-top !default;
$element-hr-margin-left: $element-hr-margin-right !default;

hr {
    @include layout-margin ($element-hr-margin-top, $element-hr-margin-right, $element-hr-margin-bottom, $element-hr-margin-left);

    border: 0;
    border-top: 1px solid $element-hr-color;
}
