$grid-column-width:  60px !default;
$grid-spacing-width: 20px !default;

.row {
    font-size: 0.1px;
    font-size: 0.01;
    text-align: justify;
    line-height: 0;

    &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }

    %col {
        font-size: $element-font-size;
        line-height: $element-line-height;
        text-align: left;

        display: inline-block;
        vertical-align: top;

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            width: ($grid-column-width * $i) + ($grid-spacing-width * ($i - 1));

            @extend %col;
        }
    }

    .col-separator-left,
    .col-separator-right {
        position: relative;
    }

    .col-separator-left:before,
    .col-separator-right:after {
        background: #ccc;

        content: "";

        display: block;
        width: 1px;

        position: absolute;
        top: 0;
        bottom: 0;
    }

    .col-separator-left:before {
        left: -($grid-spacing-width / 2);
    }

    .col-separator-right:after {
        right: -($grid-spacing-width / 2);
    }
}
