// Global content wrapper
$layout-content-margin: 0 !default;

.layout-content {
    margin: $layout-content-margin 0;
}

// Basic container
$layout-container-width: 940px !default;

.layout-container {
    width: $layout-container-width;
    margin: 0 auto;

    @extend %clearfix;
}

.layout-container-fluid {
    margin: 0 auto;
    padding: 0 10px; // Should be taken from layout/_grid.scss:$layout-grid-row-margin-x

    @extend %clearfix;
}
