/* Barebones Compass link styles
 *
 * Link element styles
 */

a {
    text-decoration: underline;

    @include link-basic ($link-color, $link-hover-color, $link-active-color, $link-visited-color);
}

/* Segmented link
 *
 * Intended for use with icons to avoid icons being underlined:
 *
 *     <a class="link-segmented" href="/profile.html">
 *         <span class="icon-user"></span>
 *         <span class="segment-text">Profile</span>
 *     </a>
 */
.link-segmented {
    text-decoration: none;

    .segment-text {
        text-decoration: underline;
    }
}

/* Ajax link
 *
 * A dotted border is used to underline the link
 *
 * @uses $link-transitions
 * @uses $link-transition-duration
 * @uses $link-transition-function
 */
.link-ajax {
    text-decoration: none;
    border-bottom: 1px dotted $link-color;
    &:hover{
        border-bottom: 1px dotted $link-hover-color;
    }
    &:active{
        border-bottom: 1px dotted $link-active-color;
    }
}
