// Basic link
$link-normal-color: #177ee6 !default;
$link-hover-color: #14ccad !default;
$link-active-color: #3d5266 !default;
$link-visited-color: #5777d9 !default;
$link-text-decoration: underline !default;

a {
    text-decoration: $link-text-decoration;

    @include link-basic ($link-normal-color, $link-hover-color, $link-active-color, $link-visited-color);
}

.link-segmented {
    text-decoration: none;

    .segment-text {
        text-decoration: $link-text-decoration;
    }
}

// LINK-AJAX
$link-ajax-normal-color: $link-normal-color !default;
$link-ajax-hover-color: $link-hover-color !default;
$link-ajax-active-color: $link-active-color !default;
$link-ajax-visited-color: $link-visited-color !default;
$link-ajax-style: dotted !default;
$link-ajax-width: 1px !default;

.link-ajax {
    text-decoration: none;

    @include link-bordered ($link-ajax-normal-color, $link-ajax-hover-color, $link-ajax-active-color, $link-ajax-visited-color, $style: $link-ajax-style, $width: $link-ajax-width);

    &.link-segmented {
        border-bottom: 0;

        @if $link-transitions {
            @include transition(color $link-transition-duration $link-transition-function);
        }

        .segment-text {
            border-bottom-color: $link-ajax-normal-color;
            border-bottom-style: $link-ajax-style;
            border-bottom-width: $link-ajax-width;

            @if $link-transitions {
                @include transition(border-bottom-color $link-transition-duration $link-transition-function);
            }
        }

        &:visited {
            .segment-text {
                border-bottom-color: $link-ajax-visited-color;
            }
        }

        &:hover,
        &:focus {
            .segment-text {
                border-bottom-color: $link-ajax-hover-color;
            }
        }

        &:active {
            .segment-text {
                border-bottom-color: $link-ajax-active-color;
            }
        }
    }
}

// Link danger

$danger-link-color: #e64839 !default;
$danger-link-hover-color: #e64839 !default;
$danger-link-active-color: #e64839 !default;
$danger-link-visited-color: #e64839 !default;

.link-danger {
    @include link-basic ($danger-link-color, $danger-link-hover-color, $danger-link-active-color, $danger-link-visited-color);
}

.link-dotted {
    text-decoration: none;
    border-bottom: 1px dotted;
}