// Breadcrumbs styles
$breadcrumbs-color: #808080;
$breadcrumbs-font-family: Arial, sans-serif !default;
$breadcrumbs-font-size: 12px !default;
$breadcrumbs-line-height: $element-line-height !default;
$breadcrumbs-margin: $element-margin !default;

.breadcrumbs {
    color: $breadcrumbs-color;
    font-family: $breadcrumbs-font-family;
    font-size: $breadcrumbs-font-size;
    line-height: $breadcrumbs-line-height;
    text-align: center;

    margin: $breadcrumbs-margin 0;

    & > a {
        color: $breadcrumbs-color;
    }

    .separator {
        font-size: $breadcrumbs-font-size + 1px;
        line-height: $breadcrumbs-font-size * $breadcrumbs-line-height;
    }
}