// COLLAPSE
$collapse-transition-duration: .35s !default;
$collapse-transition-function: ease !default;

.collapse {
    display: none;

    &.in {
        display: block;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;

    position: relative;

    @include transition(height $collapse-transition-duration $collapse-transition-function);
}
