// Nav styles

.nav {
    margin: 0;
    padding-left: 0;
    list-style: none;

    @include pie-clearfix();

    & > li {
        margin: 0;

        position: relative;
        display: block;

        & > a {
            position: relative;
            display: block;
            // padding:
        }
    }

    // Prevent IE8 from misplacing imgs
    //
    // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
    & > li > a > img {
        max-width: none;
    }
}

// NAV-BARS
$nav-bars-color: #fff !default;
$nav-bars-font-family: Arial, sans-serif !default;
$nav-bars-font-size: 12px !default;
$nav-bars-line-height: $element-line-height !default;
$nav-bars-background: #000 !default;
$nav-bars-padding-x: 18px !default;
$nav-bars-padding-y: 6px !default;

.nav-bars {
    font-family: $nav-bars-font-family;
    font-size: $nav-bars-font-size;
    font-weight: bold;
    line-height: $nav-bars-line-height;
    text-transform: uppercase;

    background-color: $nav-bars-background;

    & > li {
        float: left;

        & > a {
            color: $nav-bars-color;

            padding: $nav-bars-padding-y $nav-bars-padding-x;
        }
    }

    & > .important > a {
        color: #ff957f;
    }
}
