// Navbar styles
$navbar-color: #111 !default;
$navbar-color-hover: #177ee6 !default;
$navbar-color-active: $navbar-color-hover !default;
$navbar-color-visited: $navbar-color !default;
$navbar-font-family: Arial, sans-serif !default;
$navbar-font-size: 12px !default;
$navbar-line-height: 18px !default;
$navbar-background-color: #f5f5f5 !default;
$navbar-margin: $element-margin !default;
$navbar-min-height: 36px !default;

.navbar {
    color: $navbar-color;
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    line-height: $navbar-line-height;

    background: $navbar-background-color;

    margin-bottom: $navbar-margin;

    min-height: $navbar-min-height;

    position: relative;
}

// Fixed variations
$navbar-fixed-zindex: 1030 !default;

.navbar-fixed-top,
.navbar-fixed-bottom {
    margin-bottom: 0;

    position: fixed;
    right: 0;
    left: 0;
    z-index: $navbar-fixed-zindex;
}

.navbar-fixed-top {
    top: 0;
}
.navbar-fixed-bottom {
    bottom: 0;
}

$navbar-nav-margin: 14px !default;
$navbar-nav-padding: ($navbar-min-height - $navbar-line-height) / 2 !default;

.navbar-nav {
    font-family: $navbar-font-family;
    font-size: $navbar-font-size;
    line-height: $navbar-line-height;

    float: left;

    & > li {
        float: left;

        & + li {
            margin-left: $navbar-nav-margin;
        }

        & > a {
            color: $navbar-color;

            padding: $navbar-nav-padding 0;

            &:visited {
                color: $navbar-color-visited;
            }

            &:hover,
            &:focus {
                color: $navbar-color-hover;
            }

            &:active {
                color: $navbar-color-active;
            }

            &.link-ajax {
                @include link-bordered ($navbar-color, $navbar-color-hover, $navbar-color-active, $navbar-color-visited, $width: 1px, $style: dotted);

                &.link-segmented {
                    border-bottom: 0;

                    @if $link-transitions {
                        @include transition(color $link-transition-duration $link-transition-function);
                    }

                    .segment-text {
                        border-bottom-color: $navbar-color;
                        border-bottom-style: dotted;
                        border-bottom-width: 1px;

                        @if $link-transitions {
                            @include transition(border-bottom-color $link-transition-duration $link-transition-function);
                        }
                    }

                    &:visited {
                        .segment-text {
                            border-bottom-color: $navbar-color-visited;
                        }
                    }

                    &:hover,
                    &:focus {
                        .segment-text {
                            border-bottom-color: $navbar-color-hover;
                        }
                    }

                    &:active {
                        .segment-text {
                            border-bottom-color: $navbar-color-active;
                        }
                    }
                }
            }
        }
    }

    .divider {
        background-color: #ebebeb;

        width: 1px;
        height: $navbar-min-height;
    }
}

.navbar-nav-right {
    float: right;
}