// PRICE
$price-color: #000 !default;
$price-font-family: Arial, sans-serif !default;
$price-font-size: 36px !default;
$price-line-height: 36px !default;

$price-height: 60px !default;

$price-margin: $block-margin !default;

$price-border-color: #fff04c !default;
$price-border-width: 4px !default;
$price-border-style: solid !default;
$price-border: $price-border-width $price-border-style $price-border-color;

$price-padding-x: 20px !default;
$price-padding-y: (($price-height - $price-line-height) / 2) - $price-border-width !default;

$price-shadow-color: rgba(0,0,0,.05) !default;

$price-minor-font-size: 50% !default;
$price-minor-line-height: 18px !default;

$price-currency-font-size: 20px !default;
$price-currency-line-height: 20px !default;

.price {
    color: $price-color;
    font-family: $price-font-family;
    font-size: $price-font-size;
    font-weight: bold;
    line-height: $price-line-height;

    margin: $price-margin 0;
    border: $price-border;
    padding: $price-padding-y $price-padding-x;

    @include box-shadow(
        inset 0 $price-border-width 0 $price-shadow-color,
        0 $price-border-width 0 $price-shadow-color
    );

    .major,
    .minor,
    .currency {
        display: inline-block;
    }

    .dot {
        display: none;
    }

    .minor {
        font-size: $price-minor-font-size;
        line-height: $price-minor-line-height;
        text-decoration: underline;
        vertical-align: super;

        margin-left: -10px;
    }

    .currency {
        font-size: $price-currency-font-size;
        font-weight: normal;
        line-height: $price-currency-line-height;
    }
}