// PRODUCT
$product-margin: $block-margin !default;

$product-fav-font-size: 11px !default;
$product-fav-font-family: Arial, sans-serif !default;

.product {
    margin: $product-margin 0;

    .add-to-cart,
    .add-to-fav {
        margin: $product-margin 0;
    }

    .add-to-fav {
        font-family: $product-fav-font-family;
        font-size: $product-fav-font-size;
        text-align: center;
    }
}
