/* Barebones Compass form styles
 *
 * Form button styles
 */

.btn {
    text-align: center;
    width: 180px;
    height: 50px;
    background-image: none;
    font-size: 20px;
    margin: 0;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: -1px 20px;

    display: inline-block;
    vertical-align: middle;
    background-color: $color-light-green;
    user-select: none;
    transition: all .3s linear;
    &:hover{
        background-color: $color-yellow;
    }


}

.btn-primary {
    @include button-basic(
        $bg:        #177ee6, $color:        #fff,
        $bg-hover:  #3d97f2, $color-hover:  #fff,
        $bg-active: #246bb3, $color-active: #fff
    );
}

.btn-block {
    display: block;
    width: 100%;

    & + & {
        margin-top: $base-margin / 2;
    }
}

.btn-transparent {
    background-color: transparent;
    height: 40px;
    padding-bottom: 15px;

    border: 1px solid #1f9ff4;
    width: 60px;
    color: #1f9ff4;
    &:hover{
        color:#3c22ff;
        border: 1px solid #3c22ff;
        background-color: transparent;
    }
    &:active{
        color:#103f79;
        border: 1px solid #103f79;
        background-color: transparent;
    }
}
.btn-white{
    background-color: #fff;
    color: #000;
    &:active{
        background-color: #f2f0ed;
    }
}

.btn-disabled {
    background: #ccc;
    outline: 0;
    text-decoration: none;

    &:hover,
    &:active{
        background: #ccc;
    }
}
