// Form validation styles
$validation-ok-color: #14ccad !default;
$validation-error-color: #f27349 !default;

// VALIDATION-OK
$validation-ok-border-color: $validation-ok-color !default;

.validation-ok {
    .form-control {
        border-color: $validation-ok-border-color;
    }
}

// VALIDATION-ERROR
$validation-error-border-color: $validation-error-color !default;
$validation-error-msg-color: $validation-error-color !default;
$validation-error-msg-margin: $form-margin / 4 !default;

.validation-error {
    .form-control {
        border-color: $validation-error-border-color;
    }

    .validation-msg {
        color: $validation-error-msg-color;

        margin: $validation-error-msg-margin 0 0;
    }
}