/* Barebones Compass fonts
 *
 * This file contains custom font imports and font stacks for different font
 * types
 */

/* Examples of font import statements
 *
 * Copy and paste outside of comment section
 *
 * Google Fonts single font face
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);
 *
 * Google Fonts combination of font faces
 * @see http://www.google.com/fonts
 *
 *     @import url(http://fonts.googleapis.com/css?family=Roboto:400,700|PT+Serif:400,700&subset=latin,cyrillic,cyrillic-ext);
 *
 * Compass' font-face mixin with local font files
 * @see http://compass-style.org/reference/compass/css3/font_face/
 * @see http://compass-style.org/reference/compass/helpers/font-files/
 * @see http://www.fontsquirrel.com/tools/webfont-generator
 *
 *     // Regular
 *     @include font-face(
 *         "My Font",
 *         font-files("../fonts/myfont.woff", "../fonts/myfont.ttf", "../fonts/myfont.svg"),
 *         "../fonts/myfont.eot"
 *     );
 *
 *     // Bold
 *     @include font-face(
 *         "My Font",
 *         font-files("../fonts/myfontb.woff", "../fonts/myfontb.ttf", "../fonts/myfontb.svg"),
 *         "../fonts/myfontb.eot", bold
 *     );
 *
 *     // Italic
 *     @include font-face(
 *         "My Font",
 *         font-files("../fonts/myfontb.woff", "../fonts/myfontb.ttf", "../fonts/myfontb.svg"),
 *         "../fonts/myfontb.eot", normal, italic
 *     );
 *
 *     // Bold+Italic
 *     @include font-face(
 *         "My Font",
 *         font-files("../fonts/myfontb.woff", "../fonts/myfontb.ttf", "../fonts/myfontb.svg"),
 *         "../fonts/myfontb.eot", bold, italic
 *     );
 *
 *     // Custom font weight
 *     @include font-face(
 *         "My Font",
 *         font-files("../fonts/myfontb.woff", "../fonts/myfontb.ttf", "../fonts/myfontb.svg"),
 *         "../fonts/myfontb.eot", 300
 *     );
 */

/* Default font stacks
 */
$font-sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-serif: Cambria, Georgia, serif;
$font-monospace: Consolas, monaco, monospace;
