// Font imports
// Roboto (light, regular, bold) and italic variants
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);

// PT Serif (regular, bold) and italic variants
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);

// Ubuntu Mono (regular, bold) and italic variants
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext);

// Example of font combination
// @import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|PT+Serif:400,700|Roboto:400,700&subset=latin,cyrillic,cyrillic-ext);

// Font stacks
$font-sans-serif: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-serif: "PT Serif", Cambria, Georgia, serif;
$font-monospace: "Ubuntu Mono", Consolas, monaco, monospace;