/* Barebones Compass mixins
 *
 * Contains custom mixins in use within the project
 *
 * See individual mixins for more info
 */

/* Base diff mixin
 *
 * Redefines basic typography settings and background, but only if they differ
 * from base values
 *
 * Base values are defined in base/_variable.scss
 *
 * @uses $base-color
 * @uses $base-font-family
 * @uses $base-font-size
 * @uses $base-font-style
 * @uses $base-font-weight
 * @uses $base-line-height
 * @uses $base-background-color
 */
@mixin base-diff ($color: false, $font-family: false, $font-size: false, $font-style: false, $font-weight: false, $line-height: false, $background-color: false) {
    @if $color and $color != $base-color {
        color: $color;
    }

    @if $font-family and $font-family != $base-font-family {
        font-family: $font-family;
    }

    @if $font-size and $font-size != $base-font-size {
        font-size: $font-size;
    }

    @if $font-style and $font-style != $base-font-style {
        font-style: $font-style;
    }

    @if $font-weight and $font-weight != $base-font-weight {
        font-weight: $font-weight;
    }

    @if $line-height and $line-height != $base-line-height {
        line-height: $line-height;
    }

    @if $background-color and $background-color != $base-background-color {
        background-color: $background-color;
    }
}

/* Directional property mixin
 *
 * This mixin simplifies redefinition of directional properties (like padding).
 * If only some property values are passed, they are set individually. But if
 * all four values are passed, they are set using an optimal combination
 */
@mixin directional-property ($name, $top: false, $right: $top, $bottom: $top, $left: $right) {
    @if $top and $right and $bottom and $left {
        // All directions set
        @if $top == $right == $bottom == $left {
            // All directions same
            #{$name}: $top;
        } @else if $top == $bottom and $right == $left {
            // Margin groups differ
            #{$name}: $top $right;
        } @else if $right == $left {
            // Y directions differ
            #{$name}: $top $right $bottom;
        } @else {
            // All directions differ
            // X directions differ
            #{$name}: $top $right $bottom $left;
        }
    } @else {
        @if $top {
            #{$name}-top: $top;
        }

        @if $right {
            #{$name}-right: $right;
        }

        @if $bottom {
            #{$name}-bottom: $bottom;
        }

        @if $left {
            #{$name}-left: $left;
        }
    }
}

/* Layout margin mixin
 *
 * This is a shortcut to using the directional-property mixin with margin
 * property
 */
@mixin layout-margin ($top: false, $right: $top, $bottom: $top, $left: $right) {
    @include directional-property (margin, $top, $right, $bottom, $left);
}

/* Layout padding mixin
 *
 * This is a shortcut to using the directional-property mixin with padding
 * property
 */
@mixin layout-padding ($top: false, $right: $top, $bottom: $top, $left: $right) {
    @include directional-property (padding, $top, $right, $bottom, $left);
}

/* Selection mixin
 *
 * This mixin sets the text color and background color of selected elements
 */
@mixin selection ($color: false, $background: false) {
    ::selection {
        @if $color {
            color: $color;
        }

        @if $background {
            background: $background;
        }
    }

    ::-moz-selection {
        @if $color {
            color: $color;
        }

        @if $background {
            background: $background;
        }
    }
}
