/* Barebones Compass sprite config
 *
 * This file contains Compass' sprite auto-generation feature configuration
 *
 * @see http://compass-style.org/reference/compass/helpers/sprites/
 * @see http://compass-style.org/help/tutorials/spriting/
 * @see http://compass-style.org/help/tutorials/spriting/customization-options/
 * @see http://compass-style.org/help/tutorials/spriting/magic-selectors/
 */

/* Social icon sprite
 *
 * Each social icon gets its own class. This allows you to use any available
 * social icon in any context
 *
 * To add a social icon, place it in the src/sprites/social directory
 */
$social-layout: smart !default;
$social-spacing: 1px !default;
$social-sprite-dimensions: true !default;
$social-sprite-base-class: ".social" !default;

.social {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0 5px;
}

@import "social/*.png";
@include all-social-sprites;

/* Misc sprite
 *
 * A misc sprite contains images used in very specific circumstances, like a
 * logo. They don't get their own class, but a mixin
 *
 * @see base/mixin/_sprite.scss
 */
// $misc-layout: smart !default;
// $misc-spacing: 1px !default;
// $misc-sprite-dimensions: true !default;

// @import "misc/*.png";

// $sprite-misc-map: sprite-map('misc/*.png');
