/* Barebones Compass variables
 *
 * This file should be used to redefine values used by other files. Most basic
 * style tweaks can be done from this file
 *
 * Font stacks are defined within base/_font.scss
 */

/* Base typography settings
 */
$base-color: #555;
$base-font-family: $font-sans-serif;
$base-font-size: 16px;
$base-font-style: normal;
$base-font-weight: normal;
$base-line-height: 1.5;

/* Base visual settings
 */
$base-background-color: #fff;

$base-selection-color: #fff;
$base-selection-background: #177ee6;

/* Base layout settings
 */
$base-margin: 20px;

/* Some custom element settings
 */
$element-figure-color: #888;
$element-figure-font-family: $font-serif;
$element-figure-font-style: italic;
