/*
 * Variable
 *
 * This file should be used to redefine values used by other files. Most basic
 * style tweaks can be done from this file
 */

// Basic typo settings
$base-color: #555;
$base-font-family: $font-sans-serif;
$base-font-size: 16px;
$base-font-style: normal;
$base-font-weight: normal;
$base-line-height: 1.5;

// Basic visual settings
$base-background-color: #fff;

// Basic layout settings
$base-margin: 20px !default;
